layout {
    pane name="mqtt" command="mosquitto"
    pane name="ingest" command="cargo" {
        args "run" "-p" "ahealth-ingest"
    }
    // pane name="api" command="cargo" {
    //     args "run" "-p" "ahealth-api"
    // }
    // pane name="console" command="cargo" {
    //     args "run" "-p" "ahealth-console"
    // }
    // pane name="mqtt" command="cargo" {
    //     args "run" "-p" "ahealth-mqtt"
    // }
}
